<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
	<?php include "head.php"; getHead("Short URL")?>
	<body>
		<?php include "cabecera.php" ?>
		<div class="content" style="gap:2em">
			<div id="centro" class="contenedor">
				<h1>INSTRUCCIONES</h1>
				<p>Escribes una URL como "<strong>http://esto.es.una.url.larguisima.com/ y/un/tanto/absurda</strong>" y te crear&aacute; una del tipo "<strong>sl.ugr.es/fd0e</strong>".</p>
				<p>Opcionalmente, puedes usar el campo "ID" y poner algo como "<strong>mi_ejemplo</strong>" (con un m&aacute;ximo de 50 caracteres y un m&iacute;nimo de 5, valen min&uacute;sculas, may&uacute;sculas, n&uacute;meros y el signo "_"), para que te salga "<strong>sl.ugr.es/mi_ejemplo</strong>".</p>
				
				<div class="navega">
					<a href="/">Inicio</a> | <a href="/licencia">Licencia</a>
				</div>
			</div>
		</div>
		<?php include "footer.php" ?>
	</body>
</html>
