<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
	<?php include "head.php"; getHead("Short URL")?>
	<body>
		<?php include "cabecera.php" ?>
		<div class="content">
			<h1>Acortador de enlaces</h1>
			<div id="centro" class="contenedor">
				<p>OOOPS!</p>
				<p><? echo $TextoError; ?></p>
				</form>
			</div>
			<div class="navega">
				<p><a href="/">Inicio</a> | <a href="/ayuda">Ayuda</a> | <a href="/licencia">Licencia</a></p>
			</div>
		</div>
		<?php include "footer.php" ?>
	</body>
</html>
