<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
	<?php include "head.php"; getHead("Short URL")?>
	<body>
		<?php include "cabecera.php" ?>
		<div class="content licencia"> 
			<h1>LICENCIA</h1>
			<p><em>Agradecemos a la Oficina Web y al CSIRC su ayuda para el desarrollo de esta aplicación</em></p>
			<p><em>Copyright 2009-2024 Allan Psicobyte, Alejandro Machuca</em>, para la <a href="https://osl.ugr.es/">Oficina de Software Libre de la Universidad de Granada</a>.</p>
			<p>Este software se distribuye bajo una licencia pública <a href="https://www.gnu.org/licenses/agpl-3.0.html">Affero GPL</a>. Puedes descargarlo libremente en su <a href="https://github.com/OSL-UGR/slugerV2">página de GitHub</a>.</p>
				<div class="navega">
					<a href="/">Inicio</a> | <a href="/ayuda">Ayuda</a>
				</div>
		</div>
		<?php include "footer.php" ?>
	</body>
</html>
